@charset "utf-8";
#header {
    background:#a27f3e;
}
#header h1 {
    font-weight:bold;
    color:#fff;
}
#hui-back:before {
    color:#fff;
}
#hui-action-sheet-cancel {
    background:#EF4F4F;
    color:#fff !important;
}